* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 560px;
}

.menu-left {
    width: 350px;
}

.center-content {
    width: 330px;
    background-color: #999;
}

.menu-right {
    width: 260px;
    background-color: #999;
}

.menu-left__content img {
    height: 80px;
    width: 120px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.menu-left__content h1 {
    font-size: 1.6rem;
    color: blue;
}

.menu-left__content span {
    color: gray;
    font-size: 1.6rem;
}

.menu-left__content p {
    font-size: 1.4rem;
    color: black;
    font-weight: 400;
}

.menu-left__list {
    margin-left: 50px;
}

.menu-left__list li:first-child {
    margin-top: 10px;
}

.menu-left__list li {
    margin: 5px 0;
}

.menu-left__list li a {
    font-size: 1.2rem;
}