* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.app {
    display: flex;
    justify-content: flex-start;
}

.slider-left {
    width: 10%;
}

.main {
    width: 80%;
}

.slider-right {
    width: 10%;
}

.header__list {
    list-style: none;
    display: flex;
    margin-left: 50px;
    height: 100%;
    align-items: center;
}

.header__list>li  {
    height: 80%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.header__list>li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 150px;
    background-color: white;
    list-style: none;
    border: 1px solid rgb(190, 189, 189);
}

.sub-menu::before {
    content: "";
    display: block;
    height: 15px;
    width: 100px;
    /* background-color: yellowgreen; */
    position: absolute;
    top: -15px;
}

.sub-item {
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid rgb(190, 189, 189);
}

.sub-item:last-child {
    border-bottom: none;
}

.sub-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    
}

.header__list>li:hover {
    background-color: #f39c12;
}

.header__list>li>a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.header__nav {
    width: 100%;
    height: 45px;
    background-color: blue;
    border-radius: 10px;    
}

.slide {
    margin-top: 10px;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgb(190, 189, 189);
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.product {
    width: 33%;
    /* margin-right: 10px; */
    height: 400px;
    border: 1px solid rgb(190, 189, 189);
}

.product:first-child {
    margin-right: 10px;
}

.product:nth-child(2) {
    margin: 0 15px;
}

.product:last-child {
    margin-left: 10px;
}

.product {
    border-radius: 10px;
}

.product-title {
    border-radius: 10px 10px 0 0;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-bottom: 5px;
    background-color: rgb(190, 189, 189);
}

.product__content {
    margin-left: 25px;
}

.product__content img {
    width: 120px;
    height: 80px;
    margin: 0 5px 2px 0;
}

.product__content h4 a {
    text-decoration: none;
    font-size: 1.6rem;
}

.product__content span {
    font-size: 1.4rem;
    color: gray;
}

.product__content p {
    font-size: 1.4rem;
}

.product__list {
    margin-left: 50px;
}

.product__list li a {
    font-size: 1.4rem;
}

.product__list li {
    margin: 5px 0;
}

.product__list li:first-child {
    margin-top: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 10px;
    margin-top: 20px;
}

footer span {
    font-size: 1.4rem;
    color: gray;
}

.slider-right {
    display: flex;
    justify-content: flex-end;
    padding-left: -15px;
    margin-left: 15px;
}

.slider-left {
    display: flex;
    justify-content: flex-start;
    padding-right: -15px;
    margin-right: 15px;
}