* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 600px;
    width: 960px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

.red {
    height: 200px;
    width: 550px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}

.green {
    height: 200px;
    width: 550px;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 5px;
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}

.blue {
    height: 200px;
    width: 550px;
    background-color: blue;
    position: absolute;
    top: 150px;
    left: 150px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}