/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

/* header start */
header {
    height: 350px;
    width: 100%;
}

header img {
    height: 100%;
    width: 100%;
}
/* header end */

/* main start */
.main {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.list-product {
    width: 75%;
    padding: 15px 0 0 15px;
    border: 1px solid black;
    margin-right: 50px;
    padding-right: -50px;
}

.list-product h1 {
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(197, 6, 6);
}

.product-list {
    list-style: none;
}

.product-list>li {
    display: flex;
    margin: 20px 0;
}

.product-img {
    height: 180px;
    width: 180px;
    margin-right: 25px;
}

.product-img img {
    height: 100%;
    width: 100%;
}

.product-detail-list {
    margin-left: 25px;
    list-style: disc;
} 

.product-detail-list li {
    padding: 10px 0;
}

.side-bar {
    border: 1px solid black;
    width: 25%;
}

.side-top h2 {
    background-color: #00a8ff;
    color: white;
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.side-top-list li {
    margin-left: 50px;
    padding: 5px 0;
}

.side__ads {
    width: 100%;

}

.side__ads h2 {
    background-color: #00a8ff;
    color: white;
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.ads__list  {
    list-style: none;
    width: 100%;
    height: 413px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ads__list li {
    height: 130px;
    width: 90%;
}

.ads__list li img {
    width: 100%;
    height: 100%;
}
/* main end */

/* footer start */
footer {
    border: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer end */