* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.header__container {
    width: 100%;
    height: 45px;
    background-color: blue;
    /* background-color: wheat; */
}

.header__list {
    list-style: none;
    display: flex;
    margin-left: 50px;
    height: 100%;
    align-items: center;
}

.header__list li  {
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.header__list li:hover {
    background-color: rgb(128, 128, 255);
}

.header__list li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.slide {
    margin-top: 10px;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgb(190, 189, 189);
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.product {
    width: 32%;
    /* margin-right: 10px; */
    height: 400px;
    border: 1px solid rgb(190, 189, 189);
}

.product:first-child {
    margin-right: 10px;
}

.product:nth-child(2) {
    margin: 0 15px;
}

.product:last-child {
    margin-left: 10px;
}

.product {
    border-radius: 10px;
}

.product-title {
    border-radius: 10px 10px 0 0;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-bottom: 5px;
    background-color: rgb(190, 189, 189);
}

.product__content {
    margin-left: 25px;
}

.product__content img {
    width: 120px;
    height: 80px;
    margin: 0 5px 2px 0;
}

.product__content h4 a {
    text-decoration: none;
    font-size: 1.6rem;
}

.product__content span {
    font-size: 1.4rem;
    color: gray;
}

.product__content p {
    font-size: 1.4rem;
}

.product__list {
    margin-left: 50px;
}

.product__list li a {
    font-size: 1.4rem;
}

.product__list li {
    margin: 5px 0;
}

.product__list li:first-child {
    margin-top: 15px;
}

